* {
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player {
    text-align: center;
}
.boxes {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    grid-gap: 1vw;
    margin-bottom: 2vw;
    border: rgb(59, 56, 56) solid 1vw;
}
.box {
    background-color: rgb(59, 56, 56);
    color: white;
    width: 10vw;
    height: 10vw;
}
.reset {
    min-width: 5vw;
}